:root {
    /*HEADER, MAIN, FOOTER*/
    --color_header1: #b40000;
    --color_header2: #000000;
    --color_letras_header: #ffffff;
    --color_negro: #000000;
    --color_subrayado: #ff0000;
    --color_hover_footer: #d3d3d3;

    /*CONTENEDOR_IMAGENES*/
    --color_tela: #0000004d;
    --color_tela_hover: #ffffff4d;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Work Sans", sans-serif;
}

a {text-decoration: none;}

header {
    z-index: 1;
    min-width: 300px;
    position: sticky;
    top: 0px;
}

#header1 {
    background-color: var(--color_header1);
    padding-top: 20px;
    padding-bottom: 20px;
}

#header1 div {
    display: inline-block;
}

#header1 div ul, nav ul {
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    list-style: none;
}

#header1 div a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color_letras_header);
}

/* POSICION */
#menudeheader{
    margin-left: 100px;
}

#idioma {
    box-sizing: border-box;
    float: right;
    margin-right: 30px;
}

#idioma li {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}

/* MENU DESPLEGABLE DE HEADER 1*/
.menu_desplegable li {
    display: none;
    text-align: center;
}

.linknav:hover {
    border-bottom: 2px solid var(--color_subrayado);
}
.menu_desplegable:hover li{
    display: block;
}

/*HEADER 2 O EL NAV*/

nav a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color_letras_header);
}

nav li, footer li {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}

nav {
    text-align: center;
    background: linear-gradient(to bottom, var(--color_header2), rgba(0, 0, 0, 1), transparent);
    z-index: 2;
    min-width: 900px;
}

/*  TABLA DE EQUIPOS  (Palmares)*/ 
.tabladeequipos_equipos {
    margin: 100px auto;
    width: 60%;
}

.tabladeequipos_equipos table {
    border-collapse: collapse;
    text-align: center;
}

.tabladeequipos_equipos th {
    border: 2px solid black;
    background-color: rgba(255, 91, 91, 0.7);
}
.tabladeequipos_equipos td {
    border: 1px solid black;
    background-color: rgba(255, 195, 65, 0.7);
}
.tabladeequipos_equipos th{
    padding: 20px 20px;
    width: 200px;
    max-width: 200px;
}

.tabladeequipos_equipos td {
    padding: 20px 20px;
    width: 200px;
    max-width: 200px;
}

/* FOOTER */
footer {
    margin-top: 70px;
    text-align: center;
}

#redes_sociales {
    background-color: var(--color_header2);
    padding-top: 10px;
    padding-bottom: 10px;
}
#redes_sociales li {
    list-style: none;
}

#redes_sociales li a {
    color: var(--color_letras_header);
    font-size: 20px;
}

#redes_sociales li a:hover  {
    color: var(--color_hover_footer);
}

#mandarcorreo {
    background-color: var(--color_header1);
}

#mandarcorreo form {
    padding-top: 80px;
    padding-bottom: 80px;
}
#mandarcorreo form label {
    font-size: 20px;
    color: var(--color_letras_header);
}

#correo {
    height: 20px;
    width: 200px;
    font-size: 18px;
    margin-left: 20px;
}

#correo:hover {
    background-color: var(--color_hover_footer);
}

#botonfooter {
    height: 40px;
    width: 80px;
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid var(--color_letras_header);
    border-radius: 5px;
    background-color: transparent;
    color: var(--color_letras_header);
}

#botonfooter:hover {
    color: var(--color_negro);
    border: 2px solid var(--color_negro);
}