:root {
    /*HEADER, MAIN, FOOTER*/
    --color_menu_superior: #b40000;
    --color_menu_inferior: #000000;
    --color_letras_header: #ffffff;
    --color_negro: #000000;
    --color_subrayado: #ff0000;
    --color_hover_footer: #d3d3d3;

    /*CONTENEDOR_IMAGENES*/
    --color_tela: #0000004d;
    --color_tela_hover: #ffffff4d;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body { 
    font-family: "Work Sans", sans-serif;
}

a {text-decoration: none;}

header {
    z-index: 1;
    min-width: 300px;
    position: sticky;
    top: 0px;
}

#header1 {
    background-color: var(--color_menu_superior);
    padding-top: 20px;
}

#header1 div {
    display: inline-block;
}

#header1 div ul, nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

#header1 div a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color_letras_header);
}

/* POSICION */
#menudeheader{
    margin-left: 100px;
}

#idioma {
    box-sizing: border-box;
    float: right;
    margin-right: 30px;
}

#idioma li {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}

/* MENU DESPLEGABLE DE HEADER 1*/
.menu_desplegable li {
    display: none;
    text-align: center;
}

.linknav:hover {
    border-bottom: 2px solid var(--color_subrayado);
}
.menu_desplegable:hover li{
    display: block;
}

/*HEADER 2 O EL NAV*/

nav a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color_letras_header);
}

nav li, footer li {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}

nav {
    text-align: center;
    background: linear-gradient(to bottom, var(--color_menu_inferior), rgba(0, 0, 0, 1), transparent);
    z-index: 2;
    min-width: 900px;
}

/* PRIMERA SECCION (ANUNCIO)*/
#linksdenav {
    padding: 20px;
    margin: 0 50px;
}

#anuncionav {
    background-image: url('../images/foto_nav.jpg');
    height: 700px;
    top: 0px;
    position: relative;
}

#anuncionav a {
    color: var(--color_negro);
}

#anuncionav div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: var(--color_tela);
}
#anuncionav h1 {
    color: var(--color_negro);
    font-size: 50px;
    vertical-align: middle;
    margin-top: 5em;
}

#anuncionav button {
    height: 70px;
    width: 140px;
    border: 3px solid var(--color_menu_inferior);
    border-radius: 10px;
    background-color: var(--color_letras_header);
}

#anuncionav button:hover {
    border: none;
}

#anuncionav button:hover h3{
    color: var(--color_negro);
}

/*SEGUNDA SECCION (BLOQUES EN LINEA)*/

#bloquesenlinea, #bloquesenlinea_noticias {
    position: relative;
    margin-top: 50px;
    text-align: center;
}
#bloquesenlinea div, #bloquesenlinea_noticias div {
    border: 2px solid var(--color_negro);
    background-image: url(../images/kanbo.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: auto 20px;
    overflow: hidden;
}

#bloquesenlinea div p{
    background-color: var(--color_letras_header);
    border: 1px solid var(--color_negro);
    margin: 20px 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#bloquesenlinea_noticias div p {
    background-color: var(--color_letras_header);
    border: 1px solid var(--color_negro);
    margin: 20px 10px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

/* TERCERA SECCION (VIDEO Y CANAL)*/

#massobrex {
    position: relative;
    margin-top: 100px;
    margin-left: 10px;
}

#massobrex video {
    display: inline-block;
}

#massobrex div {
    display: inline-block;
    width: 400px;
    margin-left: 40px;
}

#massobrex h2 {
    font-size: 30px;
}

/* FOOTER */
footer {
    margin-top: 70px;
    text-align: center;
}

#redes_sociales {
    background-color: var(--color_menu_inferior);
    padding-top: 10px;
    padding-bottom: 10px;
}
#redes_sociales li {
    list-style: none;
}

#redes_sociales li a {
    color: var(--color_letras_header);
    font-size: 20px;
}

#redes_sociales li a:hover  {
    color: var(--color_hover_footer);
}

#mandarcorreo {
    background-color: var(--color_menu_superior);
}

#mandarcorreo form {
    padding-top: 80px;
    padding-bottom: 80px;
}

#mandarcorreo form label {
    font-size: 20px;
    color: var(--color_letras_header);
}

#correo {
    height: 20px;
    width: 200px;
    font-size: 18px;
    margin-left: 20px;
}

#correo:hover {
    background-color: var(--color_hover_footer);
}

#botonfooter {
    height: 40px;
    width: 80px;
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid var(--color_letras_header);
    border-radius: 5px;
    background-color: transparent;
    color: var(--color_letras_header);
}

#botonfooter:hover {
    color: var(--color_negro);
    border: 2px solid var(--color_negro);
}